
.homePage {
    display: grid;
    min-height: 100vh;
    max-width: 100vw;
    background: #eaeaea;
    grid-template-columns: 250px minmax(0, 1fr);
    grid-template-rows: 70px 1fr;    
    grid-template-areas: 
        "header header"
        "sidebar main";
}


main{
    grid-area: main;
    width: 100%;
    height: 100%;
    
    
   
}

@media (max-width: 1025px) {
    .homePage {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: 70px auto 1fr;
        grid-template-areas: 
            "header "
            "sidebar"
            "main";
            max-width: 100vw;
    }
    
}