


.jobHandlerWindow{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: rgba(23, 23, 23, 0.476);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;

}

.jobHandlerWidget{
    width: 95%;
    height: 85%;
    background: #1E1E1E;
    border-radius: 1rem;
    

}

.jobHandlerWidgetHeader{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(77, 77, 77, 0.304);

}
.closeBtn{
    background: rgba(52, 52, 52, 0.604);

    font-weight: bold;
    display: flex;
    padding: 0.2rem;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    color: rgba(255, 255, 255, 0.741);


}


.closeBtn:hover{
    background: rgba(242, 0, 0, 0.578);
    color: white;


}

.jobHandlerWidgetTitle{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.681);
}

.jobHandlerWidgetBody{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
}


.jobHandlerWidgetForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    max-width: 90%;
    min-width: 90%;
    font-family: sans-serif;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: sans-serif;
    
  }
  
  .formGroup label {
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .radioGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
  }
  
  .radioOption {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    padding: 10px;
    /* border: 1px solid #ddd; */
    border: none;
    resize:none;
    border-radius: 6px;
    outline: none;
  }
  
  input:focus {
    border-color: #2563eb; 
  }

  .submitBtn{
    padding: 1.5rem 2rem;
    margin: unset;
    font-size: 1rem;
    max-height: 2rem !important;
    background-image: linear-gradient(to right, #d220c3a8, #f3008ab3, #ff235e9b);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    transition: 0.3s ease;
}

.submitBtn:hover{
    background-image: linear-gradient(to left, #d220c3a8, #f3008ab3, #ff235e9b);
}

.submitBtn:active{
    background-image: linear-gradient(to left, #d220c3b3, #f3008ad4, #ff235eba);
    color: rgba(255, 255, 255, 0.838);
}

.selectedTechList{
  display: flex;
  gap: 0.3rem;
  max-width: 100%;
  flex-wrap: wrap;
}

.techItem{
  background: rgba(196, 67, 67, 0.499);
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  gap: 0.3rem;

}

.suggestionItem{
  transition: 0.3s ease;
  padding: 0.5rem;
}

.suggestionItem:hover{
  background: rgba(0, 0, 0, 0.103);
}

.suggestions{
  background: #3B3B3B;
  max-height: 9rem;
  overflow: scroll;
  border-radius: 0.5rem;
 
}
@media(min-width: 600px){
    .jobHandlerWidget{
        width: 90%;
        height: 75%;
   
        
    
    }
}


@media(min-width: 1024px){
    
}


@media(min-width: 1025px){
    .jobHandlerWidget{
        width: 40%;
        height: 86%;
        
    }
}