



.header{
    background: #151515;
    width: 100%;
    position: sticky;
    max-height: 100%;
    border-bottom: 1px solid #272727; 
    top: 0;
    grid-area: header;
    z-index: 100;
    
}

.logo{
    margin: 0;
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media(min-width: 1025px){
  
}