



.header{
    background: #151515;
    width: 100%;
    height: 7vh;
    border-bottom: 1px solid #272727 ;
    position: fixed;
    
}

.logo{
    margin: 0;
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}